@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

html {
    font-family: 'Comfortaa', cursive, "Times New Roman", Times, Roman, serif;
    font-size: 1.125em; 
    line-height: 1.55555em; 
    padding: 1.55555em; 
    color:#ffc08c;
    background-color: transparent; 
}

fieldset{
    border-color: transparent;
}

body{ 
    border-color: transparent;
}

#content {
    border-color: transparent;
    
}
  
h1 {
    font-size: 2em; 
    font-weight: bolder;
    padding-top: 1em; 
    padding-bottom: 1.25em;
    color:#ffc08c; 
    
}

h2{
    font-size: 1.5em; 
    font-weight: bolder;
    padding-top: 1em; 
    padding-bottom: 1.25em;
    color:#ffc08c; 
    background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/hs-2015-29-a-xlarge_web.jpg");

}

div {
    background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/hs-2015-29-a-xlarge_web.jpg");
}

#ad {
    border-color: transparent;
}
  
label {
    display: block;
    padding-bottom: 0.5em; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li {
    padding-bottom: .75em; 
    color:#ffc08c;
}
  
[type="date"] {
    padding-bottom: 1em; 
}
footer{
    color:#ffc08c;
    background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/hs-2015-29-a-xlarge_web.jpg");

}

input {
    font-family:'Comfortaa', cursive, "Times New Roman", Times, Roman, serif;
    border-color: transparent;
    background-color: #ffffff;
    overflow: visible;
}

@media screen and (min-width: 220px) {
  h1 {
    font-size: 120%
  }
}

@media screen and (min-width: 350px) {
  label {
    display: block;
    justify-content: center;
  }
}

@media screen and (min-width: 580px) {
  h1 {
    font-size: 200%
  }
  html {
    display: inline-block;
    justify-content: center;
    text-align: center;
  }
}